#main{
    display: flex;
    background-color: black;
    height: 25px;
    border: 2px solid black;
    justify-content: space-between;
    text-align: center;
}
#child{
    display: flex;
    width: 500px;
    justify-content: space-around;
    text-align: center;
}
#one{
    color: red;
    padding-left: 10px;
}
#two{
    color: white;
    padding-left: 10px;
}
#three{
    color: aliceblue;
    padding-left: 10px;
   
}
#four{
    color: aliceblue;
    padding-left: 10px;
}
#five{
    color: aliceblue;
    padding-left: 10px;
}
button{
    background-color: red;
    height: 25px;
}
