#parent{
   
    height: 300px;
    width: 400px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    /* box-shadow: rgb(87, 83, 83); */
    position: relative;
    left:50px;
    /* top: 10px; */
    margin: 2%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
   

}
div{
    margin-left: 150px;
    margin-top: 10px;
}
p{
    margin-left: 155px;
}

#child{
    display: flex;
    background-color: rgb(158, 148, 148);
    
    align-items: center;
    border-radius: 6px;
    height: 50%;
    width: 50%;
    margin-left: 90px;
    margin-top: 8px;
}

button{
    background-color: rgb(255, 115, 0);
    align-items: center;
    margin-left: 145px;
   

    
}